/******************
// Styles
******************/

body {
  background-color: #fff;
}

header {
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 60px;

    .banner {
        text-align: center;
        margin: 0;
        padding: 0px 0;
        font-family: 'Circular-Book',Helvetica,Arial,sans-serif;
        h2 {
            /*text-transform: uppercase;*/
            color: #b68d4c;
            margin: 0;
            padding: 15px 0 0px 0;
            font-size: 20px;
            -webkit-font-smoothing: antialiased;
            font-weight: 700;
          }
          h4 {
            opacity: 0.7;
            line-height: 1.2em;
            color: #fff;
            text-transform: uppercase;
            margin: 10px 0 10px 0px;
            font-weight: 350;
          }
    }
}

.layer-controls {
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
    font-size: '12px';
    line-height: 1.833;
    width: 300px;
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 20px;
    z-index: 100;
    background: white;

    h4 {
        font-size: 13px;
    }

    p {
        margin: 0 10px 0 0;
        line-height: 1.5em;
    }

    div.congestion_points {
        margin: 20px 0 20px 0;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
               a  {
                    text-decoration: none;
               }

               &:last-child {
                display: none !important;
                visibility: hidden;
            }
            }
            
        }
        button {margin: 5px 0;}
    }

    .ctrls {
        width: 65%;
        clear: both;

        .input-group {
            display: inine-block;
            float: left;
        }
        label {margin-left: 3px; }
    }

    .disclaimers{
        float: left; 
        clear: both;
    }
}